.footer__backToTop {
  text-decoration: none;
  display: flex;
  flex: 1;
  justify-content: center;
  color: white;
  background-color: #37475a;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__backToTop:hover {
  background-color: #46586d;
  cursor: pointer;
}

.footer__info {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  background-color: #232f3e;
  color: white;
}

.footer__info > div > h3 {
  margin-bottom: 1rem;
}
